# Django
*.log
*.pot
*.pyc
__pycache__/
db.sqlite3
/static/
/media/
.env
.env.*
*.sqlite3
*.pyo
*.pyd
*.db
*.swp
.DS_Store
.idea/
.vscode/
*.egg-info/
*.egg
*.bak
*.tmp
*.orig
*.coverage
htmlcov/
*.mo
*.sass-cache/
*.cache
node_modules/
